{% extends "base.html" %}

{% block content %}
<div id="webTitle">
	<h1>about</h1>
</div>

<div id="text_block" style="font-size:16px;">
	<p>
		Hello! My name is</p>
		<div id="webTitle"><a href="http://www.linkedin.com/pub/aaron-fraint/57/723/908">Aaron Fraint</a></div> 
	<p><br/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I'm a student in the <span class="about_title">Master of Urban Planning</span> program at <span class="about_title">Hunter College (CUNY)</span>. 
	</p>
	<br/>
	<p>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If I'm not out <span class="override_2">
			<a href="/blog/cycling/">riding a bike</a> and 
			<a href="/blog/geography/">exploring cities</a>, I'm probably
			<a href="/blog/transit/">studying transportation and urban planning</a>, 
			<a href="/blog/GIS/">using GIS to solve problems</a>, or 
			<a href="/blog/technology/">teaching myself computer programming</a>.</span>
	</p><br/>
	<p>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I am currently working as a <span class="about_title">Research Fellow</span> at <a href="http://www.hunteruap.org/">Hunter College</a>, and a <span class="about_title">Bicycle Planning Intern</span> at the <a target="_blank" href="http://www.nyc.gov/html/dot/html/bicyclists/bikemain.shtml">NYC Department of Transportation</a>.
	</p>
	<br/><br/>
	<div style="text-align:right;">
		<p>This site was built using <a style="font-weight:bold;" href="http://www.python.org/">Python</a>'s web framework, <a style="font-weight:bold;" href="https://www.djangoproject.com/">Django</a>.</p>
		<p class="text_time" style="text-align:right;">View the GitHub repository <a href="https://github.com/afraint/DJANGO_BLOG.git">here</a>.</p>

		<p>All photography &copy; Aaron Fraint, 2012-2013. All rights reserved.</p>
	</div>
	<br/>

	<p>
		Over the past few years, I have worked as a:<br/><br/>
	</p>
		<ul>
			<li>
			<span class="about_title">
				gis intern
			</span>
			<span class="text_time">
				 (10/2012 - 1/2013)
			</span><br/>
			at the <a href="http://www.nyc.gov/html/dcp/html/bytes/applbyte.shtml" target="_blank">NYC Department of City Planning</a>, where I wrote Python code to support DCP's GIS data publication.
			</li>
			<br/>
			<li>
			<span class="about_title">
				gis analyst
			</span>
			<span class="text_time">
				 (8/2011 - 5/2012)
			</span><br/>
			with <a href="http://www.azavea.com" target="_blank">Azavea's</a> <a href="http://www.phila.gov/water/swmap/" target="_blank">Stormwater Billing</a> team at the <a href="http://www.phila.gov/water/Stormwater_Billing.html">Philadelphia Water Department</a>.
			</li>
			<br/>
			<li>
			<span class="about_title">
				gis intern
			</span>
			<span class="text_time">
				(6/2011 - 8/2011)
			</span><br/>
			with the Mapping Unit within the <a href="http://www.phila.gov/records/GeneralInformation/General_Information.html" target="_blank">Department of Records</a> at City Hall in Philadelphia. 
			</li>
			<br/>
			<li>
			<span class="about_title">
				bicycle mechanic</span>
			<span class="text_time">
				(7/2010 - 8/2011)
			</span><br/>
			managing the bike shop at <a href="http://www.ems.com/" target="_blank">Eastern Mountain Sports</a> in Philadelphia.
			</li>
			<br/>
			<li>
			<span class="about_title">logistics coordinator & cyclist</span>
			<span class="text_time"> (10/2009 - 7/2010)
			</span><br/>
			with the <a href="http://www.pedalcoop.org/" target="_blank">Philadelphia Pedal Cooperative</a>, a non-profit that hauls recycling and compost by bicycle (using a trailer hitched onto the bike frame). In 2010, <a href="/video/">I was featured</a> in a video about the Pedal Coop. 
			</li>
			<br/>
			<li>
			<span class="about_title">gis intern</span>
			<span class="text_time">(5/2009 - 9/2009)
			</span><br/>
			at <a href="http://www.thefoodtrust.org/" target="_blank">The Food Trust</a> in Philadelphia. 
			</li>
					
		</ul>
</div>
{% endblock %}