{% extends "base.html" %}



{% block content %}

<div id="webTitle">
<p style="font-size:20px;">Video directed/edited in 2010 by <a href="http://www.charlesmorabito.com/">Charles Morabito</a> for the<br/>Actual Jobs Actual People competition</p>
</div>
	<div id="text_block">
		
		<div id="photo_area">

			<embed src="http://s0.videopress.com/player.swf?v=1.03" type="application/x-shockwave-flash" width="700" height="393" wmode="direct" seamlesstabbing="true" allowfullscreen="true" allowscriptaccess="always" overstretch="true" flashvars="guid=XVdOnXFy&amp;isDynamicSeeking=true" title=""></embed>
		</div>
	</div>
{% endblock %}