{% extends "base.html" %}

{% block content %}
<div id="webTitle">
	<h1>music</h1>
	<p class="filters">
		filter:
	{% for cat in cats %}
		<a href="{{ cat }}/">
			{{ cat }}
		</a> |
	{% endfor %}
	
	</p>
</div>

<div id="text_block" >
	{% for band in bands %}
		<p><a href="{{ band.website }}" target="_blank">{{ band.title }}</a></p>
		
		<p>{{ band.description }} 
		</p><br/>
		<div class="iframe">
			{% autoescape off %}
				{{ band.iframe }}
			{% endautoescape %}
				<br/><br/>
		</div>
	{% endfor %}

</div>
{% endblock %}