{% extends "base.html" %}

{% block content %}
<div id="webTitle">
	<h1>Schedule</h1>
	<p class="filters">
		<a href="/schedule">upcoming</a> |
		past
	</p>
</div>


<div id="text_block">


	{% for post in posts.object_list %}
	
			<table style="min-height:15%;" width="100%">
				<tr>
					<td width="50%" class="important">{{ post.date }} - {{ post.time }}</td>
					<td style="padding:1%;" width="50%" height="150%" rowspan="6">{% autoescape off %}
						<div style="text-align:right;">{{ post.description }}</div>
						{% endautoescape %}</td>
				</tr>
				<tr>
					<td class="important">@ <strong><a href="{{ post.url }}">{{ post.venue }}</a></strong></td>
				</tr>
				<tr>
					<td>{{ post.intersection }}</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td class="secondary">{{ post.supported_by }}</td>
				</tr>
			</table>
		
		
		<br/>
		<br/>
		{% endfor %}
	</div>
{% endblock %}
